<app-s-child></app-s-child><br /><br />
<p>--------------------------------------------------------------------------------</p>
<b>Current Message</b> <br /> -{{ message }}<br />
<b>Updated approval message-</b><br /><br />
<div class="container">
  <form>
    <div class="form-group">
      <label for="approvalText">approval message</label> <br /><br />
      <input
        type="text"
        name="approvalText"
        [(ngModel)]="approvalText"
        class="form-control"
        id="approvalText"
      /><br /><br />
    </div>
    <button (click)="submit()">Approve Advance</button>
  </form>
</div>
